@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-card-dark: #1b2633;
  --color-card-hover: #233648;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
  --font-display: Inter, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #f6f7f8;
  color: #213547;
}

html.dark {
  background-color: #101922;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}